.about-section {
  padding: 50px;
  text-align: center;
  background-color: #0099e6;
  color: white;
}

.about-section1 {
  padding: 20px;
  text-align: center;
  background-color: grey;
  color: white;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}
a{
  color: blue;
  
}
a :hover{
  
  color: crimson;
}
