<div class="container-fluid">
    <app-common-header></app-common-header>
</div>
<br>
<br>

<div class="container" id="container">

    <div class="form-container sign-up-container">
    </div>
    <div class="form-container sign-in-container">
        <form ngNativeValidate #userLoginForm="ngForm" (ngSubmit)="onClickSubmit(userLoginForm.value)">

            <div *ngIf="ptLogFail==0" class="alert alert-warning"> Invalid Login</div>

            <div *ngIf="ptPassFail==1" class="alert alert-success" style="color:green">
                <h6> Please check your email</h6>
            </div>

            <div *ngIf="ptPassFail==0" class="alert alert-warning " style="color:orange">
                <h6>Invalid User</h6>
            </div>

            <div *ngIf="ptPassUpdated==0" class="alert alert-success" style="color:green">
                <h6>Password updated successfully.</h6>
            </div>


            <h1>Sign in</h1>
            <span>use your account</span>
            <input type="text" name="ptUsername" placeholder="Username" required="required" ngModel>
            <input type="password" name="ptPassword" placeholder="Password" required="required" ngModel>


            <button type="submit" value="submit">Sign In</button>
            <a href="/home">Go to home</a>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Patient!</h1>
                <p>Have you forgotten your password? click here to change password</p>
                <button class="ghost" id="signUp">forgot password</button>
            </div>
        </div>
    </div>
</div>