<app-common-header></app-common-header>

<div class="container-fluid">
</div>
<br>
<br>
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form action="AuthPtlogin" method="post">
            <div *ngIf="ptLogFail==0" class="alert alert-warning"> Invalid Login</div>



            <div *ngIf="patReg==1" class="alert alert-success" style="color:green">Registration Success</div>



            <div *ngIf="patReg==0" class="alert alert-warning" style="color:orange">Registration Fail <br>
                <small>Username/password already exist.</small>
            </div>



            <div *ngIf="deletallyy==1" class="alert alert-success" style="color:green">Registration Success</div>


            <h1>Sign in</h1>
            <span>use your account</span>
            <input type="text" name="ptUsername" placeholder="Username" required="required" />
            <input type="password" name="ptPassword" placeholder="Password" required="required" />

            <button>Sign In</button>
            <a href="/home">Go to home</a>
        </form>

    </div>


    <div class="form-container sign-in-container">

        <form ngNativeValidate #userRegistrationForm="ngForm" (ngSubmit)="onClickSubmit(userRegistrationForm.value)">

            <div *ngIf=" deletallyy==1" class="alert alert-success" style="color:green">Registration Success
            </div>
            <div *ngIf="deletallyy==0" class="alert alert-warning" style="color:orange">Registration Main <br>
                <small>Username/password already exist.</small>
            </div>

            <div *ngIf="patReg==1 " class=" alert alert-success" style="color:green">Registration Success</div>



            <div *ngIf="patReg==0" class="alert alert-warning" style="color:orange">Registration Fail <br>
                <small>Username/password already exist.</small>
            </div>


            <h3><b>Create Account</b></h3>

            <input class="form-control form-control-sm" type="text" name="ptName" placeholder="Name"
                pattern="^[a-zA-z]+([\s][a-zA-Z]+)*$" required autocomplete="off" title="Only characters are allowed.."
                ngModel>
            <input class="form-control form-control-sm" type="text" name="age" placeholder="Age"
                Pattern="^(0?[1-9]|[1-9][0-9]|[1][1-9][1-9]|200)$" required autocomplete="off" title="Not valid age.."
                ngModel>
            <input class="form-control form-control-sm" type="email" name="ptGmail" placeholder="Email"
                pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z]{5})\.([a-zA-Z]{3})$" required autocomplete="off"
                title="Enter valid email.." ngModel>
            <input class="form-control form-control-sm" type="text" name="ptMobile" placeholder="Phone No"
                Pattern="[789][0-9]{9}" required autocomplete="off" title="Mobile number should be 10 digit.." ngModel>
            <input class="form-control form-control-sm" type="text" name="ptUsername" placeholder="UserName"
                pattern="[A-Za-z0-9]{1,15}" required autocomplete="off"
                title="Username only contains characters & numbers.." ngModel>
            <input class="form-control form-control-sm" type="password" name="ptPassword" placeholder="Password"
                pattern="[A-Za-z0-9]{1,10}" required autocomplete="off"
                title="Password only contains characters & numbers.." ngModel>


            <button value="submit" type="submit">Register</button>
            <a href="/home">Go to home</a>

        </form>

    </div>

    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend !</h1>
                <p>Enter your personal details and start journey with us</p>
                <button (click)="navigateToPatientLogin()" class="ghost" id="signUp">Sign In</button>
            </div>
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back !</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign Up</button>
            </div>
        </div>
    </div>
</div>